.block {
    width: 150px;
    height: 50px;
    background-color: rgb(206, 129, 129);
    /*转化*/
    display: block;
}
div {
    width: 300px;
    height: 100px;
    background-color: rgb(169, 168, 218);
    display: inline;
}
span {
    width: 100px;
    height: 100px;
    background-color: rgb(228, 216, 222);
    display: inline-block;
}