.width {
    width: 300px;
    height: 200px;
    /*border-width: 5px;
    border-style: dotted;
    border-color: pink;*/
    border: 1px dotted red;
    border-top: 1px solid pink;
    /*border-bottom: 1px dotted red;
    border-left: 1px dotted red;
    border-right: 1px dotted red;*/
}
table,
td
{
    border: 1px solid palevioletred;
    border-collapse: collapse;
    text-align: center;/*吐了，原来在这里设置就行*/
}
table {
    width: 500px;
    height: 249px;
}
.padding {
    width: 200px;
    height: 200px;
    background-color: rgb(122, 75, 75);
    /*padding-left: 20px;*/
    /*如果padding后只跟个值，表示上下左右边距都是一个值*/
    /*padding ：5px 10px；上下是5像素，左右是10像素*/
    /*padding ：5px 10px 20px 表示上是5像素，左右是10像素，下边距是20像素*/
    /*padding ：5px 10px 20px 30px 表示上是5像素，右面是10，下面20，左30，顺时针*/
}

.nav {
    height: 41px;
    border-top: 3px solid #ff8500;
    border-bottom: 1px solid #edeef0;
    background-color: #fcfcfc;
    line-height: 41px;
}
.nav a {
    height: 40px;
    /*padding-left: 10px;
    padding-right: 10px;*/
    padding: 0 20px;
    font-size: 12px;
    color: #4c4c4c;
    text-decoration: none;
    display: inline-block;
}
.nav a:hover {
    background-color: #eee;
    color: #ff8500;
}
h1 {
    height: 200px;
    width: 100%;
    background-color: #cd123c;
    padding: 30px;
}

div p {
    padding: 30px;
    background-color: skyblue;
    width: 100%;
}
.margin {
    width: 100px;
    height: 100px;
}
.margin1 {
    margin-bottom: 20px;
}
.header {
    width: 900px;
    height: 200px;
    background-color: #f1f1f1;
    margin: 0 auto;
    text-align: center;
}
.father {
    width: 400px;
    height: 400px;
    background-color: #a1a1a1;
    margin-top: 50px;
    /*border: 1px solid transparent;*/
    /*为父元素定义上内边距*/
    /*padding:1px ;*/
    overflow: hidden;
}
.son {
    width: 200px;
    height: 200px;
    background-color: #ac1;
    margin-top: 100px;
}
.radius {
    height: 200px;
    width: 300px;
    background-color: #a157;
    margin-top: 20px;
    border-radius: 100px;
    text-align: center;
    line-height: 200px;
}
.radius-two {
    height: 300px;
    width: 200px;
    background-color: rgb(15, 12, 12);
    color: cornsilk;
    border-radius: 10px 40px ;
}
.shadow {
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 100px auto;
    
}
.shadow:hover {
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}
 div p {
     text-shadow:10px 10px rgba(0, 0, 0, 0.3);
 }