.width {
    width: 300px;
    height: 200px;
    /*border-width: 5px;
    border-style: dotted;
    border-color: pink;*/
    border: 1px dotted red;
    border-top: 1px solid pink;
    /*border-bottom: 1px dotted red;
    border-left: 1px dotted red;
    border-right: 1px dotted red;*/
}
table,
td
{
    border: 1px solid palevioletred;
    border-collapse: collapse;
    text-align: center;/*吐了，原来在这里设置就行*/
}
table {
    width: 500px;
    height: 249px;
}
.padding {
    width: 200px;
    height: 200px;
    background-color: rgb(122, 75, 75);
    padding-left: 20px;

}