.one {
    width: 200px;
    height: 200px;
    background-color: rgb(219, 157, 157);
}
.two{
    width: 1020px;
    height: 570px;
    background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201508%2F27%2F20150827203233_PYJZT.png&refer=http%3A%2F%2Fb-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1618306111&t=cf26e3de0f89000eda0ffa42abdf528c);
    background-repeat: no-repeat;
    background-color: rgb(97, 57, 57);
}
.three {
    width: 700px;
    height: 700px;
    background-image: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1996801061,833160828&fm=26&gp=0.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: rgb(250, 241, 241);
}
.four {
    width: 118px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    /*background-color: #255;*/
    line-height: 40px;
    text-align: right;
    background-image: url(https://game.gtimg.cn/images/js/title/title_sprite.png);
    background-position-x: -30px;
    background-position-y: 5px;
    background-repeat: no-repeat;

}
.s {
    background: rosybrown url(https://ossweb-img.qq.com/upload/webplat/info/yxzj/20210312/7031353184732.jpg) no-repeat fixed center 40px;
    color: seashell;
    /*
    background-image: url(https://ossweb-img.qq.com/upload/webplat/info/yxzj/20210312/7031353184732.jpg);
    background-repeat: no-repeat;
    background-position: center 40px;
    color: rgb(250, 241, 241);
    background-attachment: fixed;*/
}
.five {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    background: rgba(0,0, 0, 0.1);
}
dt {
    font-weight: 700;
}
