
div {
    background-color: rgb(101, 116, 117);
    width: 300px;
    height: 500px;
}
a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 270px;
    height: 50px;
    padding-left: 30px;
    text-indent: 2em;
    line-height: 50px;
}
a:hover {
    background-color: rgb(255, 103, 0);
}
dd {
    width: 300px;
    height: 50px;
}

