
table,
td,
th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

.box1 {
    position: relative;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: pink;
}
.box2 {
    width: 200px;
    height: 200px;
    background-color: lightpink;
}
.son {
    position: absolute;
    top: 1500px;
    left: 700px;
    width: 200px;
    height: 200px;
    background-color: deeppink;
}
.son1 {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 200px;
    height: 200px;
    background-color: deepskyblue;
}
.father1 {
    position: absolute;
    top: 1500px;
    left: 200px;
    width: 400px;
    height: 400px;
    background-color: lightgray;
}
.fix {
    position: fixed;
    left: 50%;
    
}
.w {
    width: 800px;
    height: 1400px;
    background-color: pink;
    margin: 0 auto;
}
.sticky {
    position: sticky;
    top: 10px;
    height: 200px;
    background-color: black;
}
