table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    /*吐了，原来在这里设置就行*/
}
/*div {
    width: 200px;
    height: 200px;
    background-color: rgb(146, 177, 146);
}*/
.left {
    float: left;
}
.box {
    width: 620px;
}
.one {
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightpink;
}
.two {
    float: left;
    width: 300px;
    height: 300px;
    background-color: lightblue;
}
.footer {
    height: 200px;
    background-color: lightgray;
}


